
<h3>Edit Mission</h3>
<small style="color: red;"><%= @errors %></small>

<form method="Post" action="/missions/<%=@mission.id%>/edit">
    <input type="hidden" name="_method" value="PATCH">    

    <label for="title">Mission Title: </label>
    <input type="text" name="title" value="<%=@mission.title%>"><br><br>

    <label for= "Mission Description">Mission Description:</label></label>
    <input type="textarea"rows="6" cols="50" name="mission[description]"  value="<%=@mission.description%>"><br><br>

    <label for="startdate">Startdate: </label>
    <input type="datetime" name="mission[startdate]" value="<%=@mission.startdate%>"><br><br>

    <label for="enddate">Enddate: </label>
    <input type="datetime" name="mission[enddate]" value="<%=@mission.enddate%>"><br><br>

    <select>"status"
    <option value="complete">Complete</option></option>
    <option value="in progress">In Progress</option>
    <option value="pending">Pending</option>
    </select><br><br><br>

    <input type="submit" value="Update Mission">
</form>