<h2>Mission Details</h2><br>

<p><b>Mission:</b> <%= @mission.title %></p>
<p><b>Description:</b><%= @mission.description %></p><br>
<p><small><b>Startdate:<%=@mission.startdate %></b></small></p>
<p><small><b>Enddate:<%=@mission.enddate %></b></small></p>
<br>
<br>
<% if authorized_to_edit?(@mission)%>
    <form method="get" action="/missions/<%=@mission.id%>/edit">
    <input type="submit" value="Edit Mission">
    </form><br>

    <form method="POST" action="/missions/<%=@mission.id%>/delete">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete This Mission">
    </form>
<% end %>